* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    overscroll-behavior: none;
}

/* NAVBAR COMPONENT */

nav {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #21222A;
    padding: 30px 30px;
}

.fi {
    font-size: 30px;
    padding-top: 5px;
    margin-right: 9px;
    color: #61DAFB;
}

.nav--text {
    color: #61DAFB;
    letter-spacing: -0.05rem;
    margin-right: auto;
    font-size: 22px;
}

.nav--text > a {
    text-decoration: inherit;
    color: inherit;
}

.nav--title {
    color: #DEEBF8;
    font-size: 16px;
    font-weight: 600;
}

/* MAIN COMPONENT */

main {
    background-color: #282D35;
    color: #ffffff;
    text-align: center;
}

.main--title {
    letter-spacing: -0.05rem;
    font-size: 3rem;
    margin-top: 0;
    padding-block: 3rem 2rem;
}

.main--facts {
    display: inline-block;
    text-align: left;
}

.main--facts > li > a {
    text-decoration: inherit;
    color: #61DAFB;
}

.main--facts > li {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    list-style-position: inside;
}

/* FOOTER COMPONENT */

footer {
    background-color: #282D35;
    color: #ffffff;
    text-align: center;
}

.footer--title {
    letter-spacing: -0.05rem;
    font-size: 2rem;
    margin-top: 0;
    padding-block: 3rem 2rem;
}

.footer--links > li {
    display: inline;
    margin-right: 2rem;
} 

.footer--links > li > a {
    text-decoration: inherit;
    color: #61DAFB;
}
